
@import 'variables';
body {
    background-color: $base-color;
    .inner-container {
        max-width: 1280px;
        margin: 0 auto
    }
    p {
        color: yellow;
        text-decoration:underline;
    }

    header {
        background-color: $header-bkg;
        color: $base-header-color;
        display: flex;
        max-width: 100%;
        justify-content: space-around;
        padding: 1%;;
        box-shadow: $border-with-shadow;
    }

    nav {
        display: flex;
        flex-direction: row;
        border-top: 1px solid rgba(0,0,0, .4);
        border-bottom: 1px solid rgba(0,0,0, .4);
        padding: 25px 0; 
        form {
            margin-right: 60px;
        }
    }

    .container ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    .container li {
        margin: 0;
        max-width: 23%;
        list-style-type: none;
        margin-right: 4px;
        
    }

    .container li img {
        max-width: 100%;
        max-height: 100px;
    }
}