$header-bkg: #E7EEF3;
$base-color: #ccc;

//text
$base-header-color: rgba(0,0,0, .70);
$base-text-color: rgba(0,0,0, .75);


$border-with-shadow: 0 2px 2px rgba(0,0,0, .15);
$border-gray-25: rgba(0,0,0,.25);
$border-gray-50: rgba(0,0,0,.5);
$border-gray-75: rgba(0,0,0,.75)

